name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: 'xcodebuild build-for-testing -scheme Slideshow | xcpretty && exit ${PIPESTATUS[0]}'
      - name: Test
        run: 'xcodebuild test-without-building -scheme Slideshow | xcpretty && exit ${PIPESTATUS[0]}'
