name: xcodebuild
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: 'xcodebuild clean build analyze | xcpretty && exit ${PIPESTATUS[0]}'
